<div style="background-color: rgb(137, 164, 233)">
<div class="chat-container" #chatContainer>
    <h1>Welcome Guys, pucho kuch</h1>
    <div *ngFor="let message of messages" class="message" [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
      {{ message.content }}
    </div>
  </div>
  
  <div class="input-container">
    <input type="text" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Type a message...">
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
  